{% extends "vivero/base.html"%}
{% load static %}
{% block content %}

<head>
    <title>Registros Viveros</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tablaviveros.css' %}">


    <script type="text/javascript">
    function ConfiDelete(){
        var mensaje = confirm("Estas seguro que deseas eliminar el Vivero");

        if (mensaje){
            alert("Vivero eliminado")
        }
        else{
            alert("Accion cancelada")
        }
    }

    </script>

</head>
<!--Creacion listado de Productores -->
<!-- <h1 style="color: white; text-align: center; height: 0px;">Lista Productores</h1>-->
<br>

<table>
    
    <thead>
        <tr>
            <th>ID</th>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>ID_Productor</th>
            <th>ID_Departamento</th>
        </tr>
    </thead>
    <tbody>
        {% for vivero in viveros %}
        <tr>
            <td>{{ vivero.ID }}</td>
            <td>{{ vivero.Codigo }}</td>
            <td>{{ vivero.Nombre }}</td>
            <td>{{ vivero.ID_Productor }}</td>
            <td>{{ vivero.ID_Departamento }}</td>
            <td><a class="btn btn-primary" href="{% url 'editarvivero' vivero.id %}" style="color: black;">Editar</a>  <a class="btn btn-primary" href="{% url 'eliminarvivero' vivero.id %}" style="color: black;">Eliminar</a></td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>


{% endblock %}