{% extends "vivero/base.html"%}
{% load static %}
{% block content %}

<head>
    <title>Registros Viveros</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tablaviveros.css' %}">


</head>
<br>
<br>

<table>
    
    <thead>
        <tr>
            <th>n_id</th>
            <th>Codigo</th>
            <th>Nombre Vivero</th>
            <th>Propietario</th>
            <th>Departamento</th>
            <th>Municipio</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for vivero in object_list %}
        <tr>
            <td>{{ vivero.n_id }}</td>
            <td>{{ vivero.codigo }}</td>
            <td>{{ vivero.nombre_vivero }}</td>
            <td>{{ vivero.productor }}</td>
            <td>{{ vivero.departamento }}</td>
            <td>{{ vivero.municipio }}</td>
            
            <td><a class="btn btn-primary" href="{% url 'vivero:editar_vivero' vivero.id %}" style="color: black;">Editar</a>  <a class="btn btn-primary" href="{% url 'vivero:eliminar_vivero' vivero.id %}" style="color: black;">Eliminar</a></td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>

{% endblock %}